* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*.m-bold {
  font-weight: 700;
}
body {
  font-family: 'Poppins', Verdana, sans-serif;
  color: #333333;
}
body.m-modal-open {
  margin-right: 17px;
  overflow: hidden;
}
h1 {
  grid-column: 1 / -1;
  font-size: 2em;
  border-bottom: 1px solid #bada55;
}
ul,
li {
  list-style: none;
}
a {
  color: #333333;
  text-decoration: none;
}
img {
  max-width: 100%;
}
.b-grid {
  margin: auto;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 185px);
  grid-template-rows: auto;
  grid-auto-rows: minmax(auto, 245px);
  grid-gap: 5em 2em;
  justify-content: center;
  align-content: center;
}
header {
  padding: 1em;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 20px;
  align-items: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
}
header a {
  display: block;
  font-weight: 500;
  transition: color 0.15s linear;
}
header a:hover,
header a.m-active {
  color: #717790;
}
header .e-logo {
  width: 50px;
  max-width: 100%;
}
header .e-menu {
  grid-template-columns: repeat(7, auto);
  grid-gap: 15px;
}
header .e-menu-item {
  padding: 0 5px;
}
header .e-menu-item:first-child {
  padding-right: 10px;
  border-right: 1px solid #333333;
}
header .e-menu-button {
  justify-self: end;
  cursor: pointer;
}
header .e-search {
  position: relative;
}
header .e-search.m-active .e-search-icon {
  display: none;
}
header .e-search.m-active .e-close-search-icon {
  display: block;
}
header .e-search-icon,
header .e-close-search-icon {
  position: absolute;
  top: 4px;
  right: 5px;
  max-height: 20px;
  transition: transform ease-in-out 0.2s;
}
header .e-search-icon:hover,
header .e-close-search-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}
header .e-close-search-icon {
  display: none;
}
header .e-search-input {
  width: 0;
  height: 0;
  padding: 5px 35px 5px 10px;
  opacity: 0;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: all ease-in-out 0.2s;
}
header .e-search-input.m-active {
  width: 100%;
  height: auto;
  opacity: 1;
}
@media (max-width: 600px) {
  i[aria-expanded="false"] + .e-menu {
    display: none;
  }
  i[aria-expanded="true"] + .e-menu {
    display: grid;
  }
  .e-menu {
    grid-column: 1 / -1;
    justify-items: center;
  }
  .e-menu li {
    grid-column: 1 / -1;
  }
  .e-login {
    padding: 0;
  }
  .e-login + li {
    display: none;
  }
}
@media (min-width: 601px) {
  header .e-menu-button {
    display: none;
  }
  header .e-menu {
    justify-self: end;
  }
  header .e-menu li {
    display: inline-block;
  }
  header .e-menu li.e-login {
    padding-left: 50px;
  }
}
.b-card {
  position: relative;
  z-index: 1;
  border-radius: 10px;
  background: #f8f8ff;
  transition: all 0.16s ease-in-out;
}
.b-card:hover {
  z-index: 2;
}
.b-card:hover .e-hover-container {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
  transform: scale(1.4);
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transition: transform 0.16s ease-in-out;
}
.b-card:hover .e-extra {
  margin-top: 5px;
  opacity: 1;
  transition: opacity 0.8s ease-in-out 0.05s, margin-top 0.2s ease-in-out 0.3s;
}
.b-card:hover .e-badge {
  transform: translate3d(40px, -60px, 0) scale3d(0.6, 0.6, 1);
  -webkit-transform: translate3d(40px, -60px, 0) scale3d(0.6, 0.6, 1);
  -ms-transform: translate3d(40px, -60px, 0) scale3d(0.6, 0.6, 1);
  transition: transform 0.16s ease-in-out;
}
.b-card:hover .e-image {
  transform: translate3d(0, -170px, 0) scale3d(0.7, 0.7, 1);
  -webkit-transform: translate3d(0, -170px, 0) scale3d(0.7, 0.7, 1);
  -ms-transform: translate3d(0, -170px, 0) scale3d(0.7, 0.7, 1);
}
.b-card:hover .e-more-info {
  opacity: 1;
  transition: opacity 0.32s ease-in-out;
}
.b-card:hover .e-quick-info {
  opacity: 0;
  transition: opacity 0.16s ease-in-out;
}
.b-card.m-unavailable {
  opacity: 0.5;
  transition: opacity 0.3s linear;
}
.b-card.m-hide {
  display: none;
}
.b-card .e-marker {
  width: 0;
  height: 0;
  opacity: 0;
  overflow: none;
}
.b-card .e-hover-container {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: linear-gradient(#f8f8ff, #FFF);
  will-change: transform;
  border-radius: 10px;
}
.b-card .e-extra {
  position: absolute;
  z-index: 3;
  width: 100%;
  margin-top: -40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
}
.b-card .fa-youtube-play {
  color: #FF0000;
  transition: transform 0.2s linear;
}
.b-card .fa-youtube-play:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.b-card i[class*="heart"] {
  transition: all 0.3s linear;
}
.b-card i[class*="heart"]:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.b-card i[class*="heart"].m-liked {
  color: #FF0000;
}
.b-card .fa-file-photo-o {
  transition: transform 0.2s linear;
}
.b-card .e-rating {
  font-size: 0.75rem;
}
.b-card .e-rating-text {
  display: block;
}
.b-card .e-badge {
  position: absolute;
  top: 0;
  z-index: 5;
  right: 15px;
  padding: 0 0.5rem;
  font-size: 1.5em;
  color: #FFF;
  background: #2f4f4f;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  will-change: transform;
}
.b-card .e-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  width: 185px;
  height: 245px;
  display: grid;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  background: #f8f8ff;
  border-radius: 10px;
  transition: transform 0.16s ease 0s;
  will-change: transform;
}
.b-card .e-image.m-broken-image {
  background: url(../img/image-not-found.svg) center center no-repeat #f8f8ff;
  background-size: 30%;
}
.b-card .e-more-info {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
}
.b-card h5 {
  margin: 3rem 0 0.5rem 0;
  font-size: 1rem;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.b-card .e-info-table {
  min-height: 120px;
  margin-bottom: 0.3rem;
  display: grid;
  grid-template-columns: 70px auto;
  grid-column-gap: 10px;
  font-size: 0.8em;
}
.b-card .e-quick-info {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px 0 5px;
  opacity: 1;
}
.b-card .e-location {
  padding-right: 5px;
  font-size: 0.85rem;
  font-weight: 500;
  line-height: 1rem;
}
.b-card .e-flag {
  max-width: 50px;
  max-height: 21px;
}
/* TODO: move to own stylesheet / change class names */
.b-button.m-blue {
  width: 100%;
  margin: 0 0 5px 0;
  color: #FFF;
  opacity: 0;
  background: #0987eb;
  border: 1px solid #4E7EAB;
  box-shadow: 0 2px 3px rgba(9, 135, 235, 0.6);
}
.b-button.m-blue:hover {
  box-shadow: 0 2px 8px #0987eb;
}
.b-card:hover .b-button {
  opacity: 1;
}
.test {
  border: 5px solid orange;
}
.b-button {
  position: relative;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  border: 1px solid;
  border-radius: 4px;
  transition: box-shadow 0.2s ease-in-out;
}
.b-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: grid;
  align-items: center;
  justify-items: center;
  background: rgba(248, 248, 255, 0.85);
}
