.b-card {
  position: relative;
  z-index: 1;
  border-radius: 10px;
  background: #f8f8ff;
}
.b-card:hover {
  z-index: 2;
}
.b-card:hover .e-hover-container {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
  transform: scale(1.4);
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transition: transform 0.16s ease-in-out;
}
.b-card:hover .e-extra {
  margin-top: 5px;
  opacity: 1;
  transition: opacity 0.8s ease-in-out 0.05s, margin-top 0.2s ease-in-out 0.3s;
}
.b-card:hover .e-badge {
  transform: translate3d(40px, -60px, 0) scale3d(0.6, 0.6, 1);
  -webkit-transform: translate3d(40px, -60px, 0) scale3d(0.6, 0.6, 1);
  -ms-transform: translate3d(40px, -60px, 0) scale3d(0.6, 0.6, 1);
  transition: transform 0.16s ease-in-out;
}
.b-card:hover .e-image {
  transform: translate3d(0, -150px, 0) scale3d(0.7, 0.7, 1);
  -webkit-transform: translate3d(0, -145px, 0) scale3d(0.7, 0.7, 1);
  -ms-transform: translate3d(0, -145px, 0) scale3d(0.7, 0.7, 1);
}
.b-card:hover .e-more-info {
  opacity: 1;
  transition: opacity 0.32s ease-in-out;
}
.b-card:hover .e-quick-info {
  opacity: 0;
  transition: opacity 0.16s ease-in-out;
}
.b-card.m-unavailable {
  opacity: 0.5;
  transition: opacity 0.3s linear;
}
.b-card .e-hover-container {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: linear-gradient(#f8f8ff, #FFF);
  will-change: transform;
  border-radius: 10px;
}
.b-card .e-extra {
  position: absolute;
  z-index: 3;
  width: 100%;
  margin-top: -40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
}
.b-card .fa-youtube-play {
  color: #FF0000;
  transition: transform 0.2s linear;
}
.b-card .fa-youtube-play:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.b-card i[class*="heart"] {
  transition: all 0.3s linear;
}
.b-card i[class*="heart"]:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.b-card i[class*="heart"].m-liked {
  color: #FF0000;
}
.b-card .fa-file-photo-o {
  transition: transform 0.2s linear;
}
.b-card .e-rating {
  font-size: 0.75rem;
}
.b-card .e-rating-text {
  display: block;
}
.b-card .e-badge {
  position: absolute;
  top: 0;
  z-index: 5;
  right: 15px;
  width: 35px;
  height: 50px;
  font-size: 1.5em;
  font-weight: 700;
  color: #FFF;
  line-height: 50px;
  text-align: center;
  background: #2f4f4f;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  will-change: transform;
}
.b-card .e-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  width: 185px;
  height: 245px;
  display: grid;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  background: url(../img/image-not-found.svg) center center no-repeat #f8f8ff;
  background-size: 30%;
  border-radius: 10px;
  transition: transform 0.16s ease 0s;
  will-change: transform;
}
.b-card .e-more-info {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  text-align: center;
}
.b-card h5 {
  margin-bottom: 10px;
  font-size: 1rem;
}
.b-card p {
  position: relative;
  height: 80px;
  margin-bottom: 10px;
  font-size: 0.9em;
  line-height: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.b-card p:after {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  content: "";
  width: 11rem;
  height: 0.9rem;
  background-image: linear-gradient(to right, rgba(248, 248, 255, 0), #f8f8ff);
}
.b-card .e-quick-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 5px 0 5px;
  opacity: 1;
}
.b-card .e-location {
  font-weight: 500;
}
/* TODO: move to own stylesheet / change class names */
.b-button.m-blue {
  width: 100%;
  margin: 0 10px 5px 10px;
  color: #FFF;
  opacity: 0;
  background: #0987eb;
  border: 1px solid #4E7EAB;
  box-shadow: 0 2px 3px rgba(9, 135, 235, 0.6);
}
.b-button.m-blue:hover {
  box-shadow: 0 2px 8px #0987eb;
}
.b-card:hover .b-button {
  opacity: 1;
}
