@import url(variables.less);

.b-card {
    position: relative;
    z-index: 1;
    border-radius: 10px;
    background: @color-ghostwhite;
    transition: all .16s ease-in-out;

    &:hover {   
        z-index: 2;

        .e-hover-container {
            box-shadow: 0 5px 15px rgba(0,0,0,.8);
            transform: scale(1.4);
            -webkit-transform: scale(1.4);
            -ms-transform: scale(1.4);
            transition: transform .16s ease-in-out;
        }

        .e-extra {
            margin-top: 5px;
            opacity: 1;
            transition: opacity .8s ease-in-out .05s, margin-top .2s ease-in-out .3s;
        }

        .e-badge {  
            transform: translate3d(40px, -60px, 0) scale3d(.6, .6, 1);
            -webkit-transform: translate3d(40px, -60px, 0) scale3d(.6, .6, 1);
            -ms-transform: translate3d(40px, -60px, 0) scale3d(.6, .6, 1);
            transition: transform .16s ease-in-out;
        }

        .e-image {    
            transform: translate3d(0, -170px, 0) scale3d(.7, .7, 1);
            -webkit-transform: translate3d(0, -170px, 0) scale3d(.7, .7, 1);
            -ms-transform: translate3d(0, -170px, 0) scale3d(.7, .7, 1);
        }

        .e-more-info {
            opacity: 1;
            transition: opacity .32s ease-in-out;
        }

        .e-quick-info {  
            opacity: 0;
            transition: opacity .16s ease-in-out;
        }
    }

    &.m-unavailable {
        opacity: .5;
        transition: opacity .3s linear;
    }    

    &.m-hide {
        display: none;
    }

    .e-marker {
        width: 0;
        height: 0;
        opacity: 0;
        overflow: none;
    }

    .e-hover-container {  
        position: relative;
        z-index: 2;
        width: 100%;
        height: 100%;
        background: linear-gradient(@color-ghostwhite, @color-white);
        will-change: transform;
        border-radius: 10px;
    }

    .e-extra {
        position: absolute;    
        z-index: 3;
        width: 100%;
        margin-top: -40px;
        display: flex;    
        flex-direction: row;
        justify-content: space-between;  
        align-items: center;
        opacity: 0;
    }
    
    .fa-youtube-play {
        color: @color-red;
        transition: transform .2s linear;

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }

    i[class*="heart"] {
        transition: all .3s linear;

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }

        &.m-liked {
            color: @color-red;
        }
    }

    .fa-file-photo-o {
        transition: transform .2s linear;
    }
    
    .e-rating {    
        font-size: .75rem;
    }
    
    .e-rating-text {
        display: block;
    }
    
    .e-badge {
        position: absolute;
        top: 0;
        z-index: 5;
        right: 15px;      
        padding: 0 .5rem;
        font-size: 1.5em;
        color: #FFF;    
        background: @color-darkslategrey; 
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        will-change: transform;
    }

    .e-image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;
        width: 185px;
        height: 245px;
        display: grid;
        justify-items: center;
        align-items: center;
        overflow: hidden;
        background: @color-ghostwhite;
        border-radius: 10px;
        transition: transform .16s ease 0s;
        will-change: transform;

        &.m-broken-image {
            background: url(../img/image-not-found.svg) center center no-repeat @color-ghostwhite;
            background-size: 30%;
        }
    }

    .e-more-info {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        width: 100%;
        height: 100%;        
    }

    h5 {   
        margin: 3rem 0 .5rem 0;
        font-size: 1rem;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }   

    .e-info-table {
        min-height: 120px;
        margin-bottom: .3rem;
        display: grid;
        grid-template-columns: 70px auto;
        grid-column-gap: 10px;
        font-size: .8em;        
    }
    
    .e-quick-info {    
        display: flex;
        justify-content: space-between;
        padding: 10px 5px 0 5px;
        opacity: 1;
    }

    .e-location {
        padding-right: 5px;
        font-size: .85rem;
        font-weight: 500;
        line-height: 1rem;
    }

    .e-flag {
        max-width: 50px;
        max-height: 21px;
    }
}

/* TODO: move to own stylesheet / change class names */
.b-button.m-blue {
    width: 100%;
    margin: 0 0 5px 0;
    color: #FFF;
    opacity: 0;
    background: #0987eb;
    border: 1px solid #4E7EAB;
    box-shadow: 0 2px 3px rgba(9, 135, 235, .6);
}

.b-button.m-blue:hover {
    box-shadow: 0 2px 8px rgba(9, 135, 235, 1);
}

.b-card:hover .b-button {
    opacity: 1;
}


.test {
    border: 5px solid orange;
}