@import url(variables.less);
header {
    padding: 1em;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 20px;
    align-items: center;
    box-shadow: 0 3px 15px rgba(0, 0, 0, .4);
    transition: all .5s ease-in-out;

    a {
        display: block;
        font-weight: 500;    
        transition: color .15s linear;

        &:hover, &.m-active {
            color: @link-hover;
        }               
    }

    .e-logo {
        width: 50px;
        max-width: 100%;
    }

    .e-menu {    
        grid-template-columns: repeat(7, auto);
        grid-gap: 15px;              
    }

    .e-menu-item {    
        padding: 0 5px;

        &:first-child {
            padding-right: 10px;
            border-right: 1px solid @color-text;             
        }
    }
    
    .e-menu-button {
        justify-self: end;
        cursor: pointer;
    }

    .e-search {
        position: relative;

        &.m-active {
            .e-search-icon {
                display: none;
            }
            .e-close-search-icon {
                display: block;
            }
        }
    }

    .e-search-icon,
    .e-close-search-icon {
        position: absolute;
        top: 4px;
        right: 5px;  
        max-height: 20px; 
        transition: transform ease-in-out .2s;
        
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }

    .e-close-search-icon {
        display: none; 
    }

    .e-search-input {
        width: 0;
        height: 0;
        padding: 5px 35px 5px 10px;
        opacity: 0;
        border: none;
        outline: none;
        background:rgba(0, 0, 0, .1);
        box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
        border-radius: 10px;
        transition: all ease-in-out .2s;

        &.m-active {
            width: 100%;
            height: auto;
            opacity: 1;
        }
    }
}

@media (max-width: 600px) {
    i[aria-expanded="false"] + .e-menu {
        display: none;
    }
    
    i[aria-expanded="true"] + .e-menu {
        display: grid;        
    }
    
    .e-menu {
        grid-column: 1 / -1;                
        justify-items: center;

    }
    
    .e-menu li {
        grid-column: 1 / -1;
    }
    
    .e-login {
        padding: 0;
    }
    
    .e-login + li {
        display: none;
    }
}

@media (min-width: 601px) {
    header {
        .e-menu-button {
            display: none;
        }

        .e-menu {        
            justify-self: end;

            li {
                display: inline-block;

                &.e-login {
                    padding-left: 50px;
                }
            }
        }
    }
}